.projects-header{
    margin-top:20px;

    margin-bottom:40px;
}

.projects-header h1{
    color:white;

    font-size:64px;

    margin-bottom:12px;
}

.projects-header p{
    color:#9aa4bf;

    font-size:22px;
}

.project-form-section{
    background:#081028;

    padding:30px;

    border-radius:28px;

    margin-bottom:45px;
}

.project-form-section h2{
    color:white;

    font-size:42px;

    margin-bottom:28px;
}

.project-form{
    display:grid;

    grid-template-columns:
    1fr
    1.2fr
    220px
    160px;

    gap:20px;
}

.project-form input,
.project-form textarea,
.project-form select{
    background:#0d1733;

    border:none;

    outline:none;

    color:white;

    padding:18px;

    border-radius:18px;

    font-size:15px;
}

.project-form textarea{
    resize:none;

    height:60px;
}

.project-form button{
    background:#13e8d1;

    border:none;

    border-radius:18px;

    font-size:18px;

    font-weight:700;

    cursor:pointer;
}

.all-projects-heading{
    margin-bottom:28px;
}

.all-projects-heading h2{
    color:white;

    font-size:52px;
}

.projects-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit, minmax(340px,1fr));

    gap:28px;
}

.project-card{
    background:#081028;

    border-radius:28px;

    padding:32px;

    position:relative;

    border:1px solid rgba(255,255,255,0.04);
}

.project-card h3{
    color:white;

    font-size:34px;

    margin-bottom:18px;
}

.project-card p{
    color:#aab3c8;

    line-height:1.6;

    margin-bottom:30px;
}

.project-info{
    display:flex;

    justify-content:space-between;

    color:#13e8d1;

    font-weight:600;
}

.project-status{
    position:absolute;

    top:28px;

    right:28px;

    padding:10px 18px;

    border-radius:14px;

    font-size:14px;

    font-weight:700;
}

.active-status{
    background:#0dd6b8;

    color:black;
}

.hold-status{
    background:#ffb020;

    color:black;
}

.completed-status{
    background:#2d6bff;

    color:white;
}